@CHARSET "UTF-8";

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#markerCircle {
  stroke: none;
  fill: #555555;
}

#markerCircle1, 
#markerCircle2, 
#markerCircle3, 
#markerCircle4, 
#markerCircle5, 
#markerCircle6, 
#markerCircle7,
#markerCircle8,
#markerCircle9,
#markerCircle10 {
  stroke: none;
  fill: #000000;
}

#markerArrow {
  stroke: none;
  fill: #000000;
}

#markerArrow1,
#markerArrow2,
#markerArrow3,
#markerArrow4,
#markerArrow5,
#markerArrow6,
#markerArrow7,
#markerArrow8,
#markerArrow9,
#markerArrow10
{
  stroke: none;
  fill: #000000;
}

.node text {
  pointer-events: none;

}

.d3-tip {   
  position: absolute;           
  text-align: center;
  vertical-align: middle;
  color: white;   
  width: 120px;                  
  height: 48px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: black;   
  border: 1px;      
  border-radius: 6px;           
  pointer-events: none;         
}

.d3-tip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    color: black;   
}

h3 {
    color: #1ABC9C;
    text-align:center;  
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}

/* controller 설정 */
.controller {
	position: absolute; 
	opacity: 1; 
	top: 10px; 
	left: 10px;
	background-color: rgb(248, 240, 251);
	border-radius: 6px;
	padding: 10px 10px 10px 10px;
}

.controller tr {
	color: #1ABC9C;
	font-size: 12px;
}

.controller th {
	width: 90px;
	text-align:left;
}

.controller p {
	height: 5;
}